body{
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background-color: rgb(29, 29, 34);    /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color:  rgb(16, 16, 22);   /* color of the scroll thumb */
}

*{
  margin: 0;
  padding: 0;
}

h1{
  text-align: center;
}

h1,h2,h3,h4{
  font-family: Brutal_Medium, "Open Sans", arial;
  color: aliceblue;
}

a{
  text-decoration:none;
  color: aliceblue;
}

.header{
  background-color: rgb(42,42,42);
  height: 50px;
  width: 100vw;

  text-align: center;
}

.header h1{
  box-sizing: border-box;
  color: rgb(255,255,255);
  font-family: Brutal_Medium, "Open Sans", arial;
}

.about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  height: 600px;
  padding-bottom: 50px;
  padding-top: 10px;
  width: 100vw;

  background: linear-gradient(45deg,rgb(255, 164, 250),rgb(167, 91, 197), rgb(116, 192, 243), rgb(28, 78, 240));
  background-size: 200% 200%;
  animation: colors 10s ease infinite;
}

.opacity{
  position:absolute;
  width: 950px;
  height: 95px;
  background-color: black;
  border-radius: 8px;
  filter: opacity(60%);
  filter: blur(50%);
}

.buttons{
  padding: 20px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100px;
}

.buttons button{
  padding: 15px;
  margin: 5px;
  border: none;

  font-family: Brutal_Medium, "Open Sans", arial ;
  font-size: 18px;
  font-weight: 700;

  outline: none;

  color: aliceblue;
  background-color: transparent;

  transition: 0.5s;

  z-index: 20;
}

.buttons button:hover{
  border-bottom: 2px solid rgb(8, 158, 245);
  margin-bottom: 20px;
  transition: 0.4s;
}

.tecnicas{
  width: 950px;
  overflow: hidden;
  text-align:justify;
}

.secTitle{
  
  text-align: center;
  font-size: 20px;

  padding-top: 20px;
}

.secText{
  height: 130px;
  display: flex;
  
  align-items: center;
}

.divContent{
  height: max-content;
  width: 100vw;

  display: grid; 

  grid-template-columns: repeat(2 , 1fr);

  background: rgb(23,23,28);
  text-align: justify;
}

.contentMain{
  margin-left: 10%;
  padding-top: 30px;
  width: 650px;
}

.secTitleMain{
  
  text-align: center;
  font-size: 24px;
}

.secTextMain{
  height: 150px;
  display: flex;
  
  align-items: center;

  padding-top: 30px;
  padding-bottom: 30px;
}

.secTextMain2{
  height: 150px;
  display: flex;
  
  align-items: center;

  padding-top: 50px;
  padding-bottom: 30px;
}

.requisitosImg{
  display: flex;
  width: 700px;
  height: 800px;
  background-color: transparent;
  background-image: url('../../assets/software-requisito-funcional-regra-de-negocio-requisito-nao-funcional.png');
  background-repeat: no-repeat;
  background-position: center;
}

.apresentaçãoTecnicas{
  padding-top: 90px;

  background: rgb(33, 33, 38);
  
  width: 100vw;
  height: max-content;
  display: flex;
  justify-content: center;
  text-align: justify;
}

.apresentaçãoTecnicas section{
  height: 500px;
  width: 750px;
}

.apresentaçãoTecnicas section h2{
  font-size: 30px;
}

.divTecnicas{
  height: max-content;
  width: 100vw;

  padding-top: 10%;
  padding-bottom: 10%;

  

  display: grid; 

  background: rgb(23,23,28);

  grid-template-columns: repeat(2 ,1fr);
}

.divTecnicas section{
  margin-left: 30px;
  padding-top: 30px;
  width: 650px;
}

.divTecnicas section h1{
  font-size: 24px;
}

.textoTecnicas{
  text-align: justify;
}

.imgEntrevista{
  height: 550px;
  background-image: url('../../assets/comunicação-interna.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 650px;
}

.imgObservação{
  height: 450px;
  background-image: url('../../assets/obsImg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 600px;
}

.imgAnalitico{
  height: 500px;
  background-image: url('../../assets/unnamed.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 650px;
}

.imgSintetico{
  height: 500px;
  background-image: url('../../assets/Img.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 650px;
}

.par{
  background-color: rgba(33, 33, 38);
}

.principais_pontos{
  height: max-content;
  width: 100vw;

  padding-top: 10%;
  padding-bottom: 10%;

  

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: justify;

  background: rgb(23,23,28);



}

.principais_pontos section{
  margin-left: 30px;
  padding-top: 30px;
  margin-left: 0;
  width: 650px;
}

.principais_pontos section h1{
  font-size: 24px;
}

.principais_pontos_img{
  height: 500px;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: 650px;
}

.principais_pontos_index{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  padding-top: 200px;
  padding-bottom: 200px;
}

.index_text{
  width: 600px;
  height: max-content;
}

.principais_pontos_index_img{
  height: 400px;
  
  background-image: url('../../assets/imgDisplayContent3.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 650px;
  
  margin-bottom: 100px;
}

.principais_pontos section a{
  width: 300px;
}

#root{
  background-color: rgb(17,17,17);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#imgMural{
  max-width: 350px;
}

.footer{
  background-color: rgb(29, 29, 34);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100px;
}

@keyframes colors {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@media screen and (max-width:1360px){


  .imgAnalitico{
    background-size: 550px;
  }
  .imgSintetico{
    background-size: 550px;
  }
  .divTecnicas section{
    width: 550px;
  }
}

@media screen and (max-width:1280px){
  .divTecnicas section{
    width: 500px;
  }
}

@media screen and (max-width:1180px){
  .divContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contentMain{
    margin: 0;
  }

  .divTecnicas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .divTecnicas section{
    margin: 0;
  }
}

@media screen and (max-width:580px){
  .apresentaçãoTecnicas section{
    width: 500px;
  }
 
}

@media screen and (max-width:640px){

  .apresentaçãoTecnicas section{
    width: 350px;
  }
  .apresentaçãoTecnicas{
    height: 1200px;
  }
  .secText{
    height: 160px;
  }
}

@media screen and (max-width:900px){
  .tecnicas{
    width: 700px;
  }
}

@media screen and (max-width:700px){
  .tecnicas{
    width: 500px;
    height: max-content;
  }
  .secText{
    height: 160px;
  }
}
